section.about{
  text-align:center;

  .container{
    max-width:49em;
  }

  p{
    margin-bottom: @line-height-computed*2;
  }



  .box{
    margin:0 auto;
    position:relative;
    margin-top:20%;
    max-width: 628px;

    perspective: 2000px; 
    transform-style: preserve-3d;

    img{
      display:block;
      max-width:100%;
    }

    .cover-back,
    .cover{
      position:absolute;
      transition: all 0.5s;
      backface-visibility: hidden;
    }
    .cover{
      transform: rotateX(-180deg);
      transform-origin: bottom;
      bottom: 100%;
      animation: cover 5s ease-in-out infinite;
    }
    .cover-back{
      transform-origin: top;
      top: 0;
      animation: cover-back 5s ease-in-out infinite;
    }
  }

  @keyframes cover {
    0% {
      transform: rotateX(-180deg);
    }
    50% {
      transform: rotateX(-85deg);
    }
    100% {
      transform: rotateX(-180deg);
    }
  }

  @keyframes cover-back {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(95deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }

}