section.hero{
  padding-top:0;

  display:flex;
  flex-direction: column;
  
  @media (min-width: @screen-sm-min) {
    flex-direction: row;
  }    

  .image,
  .icon{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;    
  }
  .image{
    background: url("../img/hero-image.jpg") no-repeat 50% 50%;
    background-size: cover;
    text-align:center;
    padding: 40px 20px;
    justify-content: center;
    
    h1{
      color:white;
      font-size: 28px;
      max-width: 15em;
      font-weight: 400;
      margin-bottom: 20px;


      @media (min-width: @screen-lg-min) {
        margin-top: 40px;
        margin-bottom: 30px;
      }   

      @media (min-width: @screen-xlg-min) {
        font-size: 40px;
      }   

    }


    .btn{
      flex-grow: 0;
    }

  }
  .icon{
    background: url("../img/hero-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    position:relative;
    padding: 40px 0;

    min-height:200px;
    justify-content: center;
    

    @media (min-width: @screen-sm-min) {
      min-height: 300px;
    }

    @media (min-width: @screen-lg-min) {
      min-height: 450px;
    }    
    
    img {
      width: 120px;
      display:block;
    
      @media (min-width: @screen-lg-min) {
        width: 160px;
        margin-bottom:20px;
      }
    }

    h2{
      position:relative;
      z-index: 1;
      
      text-align:center;
      padding:0 30px;
      font-weight: 400;
      margin: 20px 0 0 0;
      font-size: 16px;

      @media (min-width: @screen-lg-min) {
        font-size: 22px;
      }   

      @media (min-width: @screen-xlg-min) {
        font-size: 28px;
        max-width: 22em;
      }   

    }
  }
}