body{
	font-weight:300;
	@media (min-width: @screen-lg-min) {
		font-size:20px;
	}
}

.btn{
	padding-left:25px;
	padding-right:25px;
	border-radius:20px;

	&.btn-lg{
		border-radius:30px;
		padding: 10px 45px;
		font-size: 20px;
		@media (min-width: @screen-md-min) {
			padding: 14px 50px;
			font-size: 22px;
		}
	}


	&.btn-xlg{
		border-radius:30px;
		padding: 10px 45px;
		font-size: 20px;

		@media (min-width: @screen-md-min) {
			border-radius:50px;
			padding: 25px 50px;
			font-size: 22px;
		}
	}

	&.btn-block{
		padding-left:0;
		padding-right:0;
	}	

	.fa:first-child {
		font-size:1.6em;
		margin: -0.2em .3em -0.2em -10px;
    vertical-align: -0.1em;
	}
}



.close {
	font-size:40px;
	opacity:1;
	&:hover{opacity:1}
}



strong{
	font-weight: 600;
}

h1, .h1,
h2, .h2 {
	line-height:1.2;

	@media (min-width: @grid-float-breakpoint) {
	  margin-bottom: @line-height-computed*1.5;
		font-size:40px;
	}

	div+&, p+&{
		margin-top: @line-height-computed*2;
	}
}

h3, .h3 {
  margin-top: @line-height-computed*2;
	line-height: @line-height-computed;

	@media (min-width: @grid-float-breakpoint) {
		margin-top: @line-height-computed*3;
	  margin-bottom: @line-height-computed*1.5;
		font-size:25px;
	}

}

h2+h3{
	margin-top:0;
}

h4, .h4 {
	margin-top: @line-height-computed*2;
	font-family:@font-family-sans-serif;

	@media (min-width: @grid-float-breakpoint) {
		margin-top: @line-height-computed*3;
	  margin-bottom: @line-height-computed*1.5;
	}
}



blockquote{
	border:0;
	.h2();
	.make-md-column(10, 0px);
	.make-md-column-push(1);
	font-style:oblique;
}

.form-control{
	.box-shadow(none);
	.placeholder(@input-color);
}

.form-group{
	margin-bottom:25px;
}

section{
	padding-top:30px;
	padding-bottom:30px;
	@media (min-width: @screen-md){
		padding-top:59px;
		padding-bottom:59px;
	}
}

.img-responsive.center-block {
	margin-top: 60px;
	margin-bottom: 20px;
	@media (min-width: @screen-md){
		margin-top: 120px;
	}	
}

hr {
	border-top-color: @brand-primary;
	border-top-width: 1px;
	max-width: 200px;
	margin: 80px auto;
}
